section{
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid pink;
    justify-content: center;
    align-items: center;
}
.contact-container {
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    color: #030303;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 8px 16px;
    background-color: palevioletred;
    color: #0b0b0b;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: normal;
    border: 2px solid purple;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ae7e7e;
  }