  .link-button {
    background-color: palevioletred;
    color: #060606;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    border: 2px solid purple;
    border-radius: 5px;
    flex-direction: row;
    padding: 10px;
    margin: 20px;
  }
  
  .link-button:hover {
    background-color: #86919e;
  }